* {
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

div, li {
    margin: 5px 0;
}

input {
    font-size: inherit;
    font-family: inherit;
}

.notification {
    background: #dddddd;
    color: black;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    position: fixed;
}

.notification .error {
    color: #c80000;
}

.notification .success {
    color: green;
}

button {
    font-size: inherit;
    font-family: inherit;
    border: 1px solid black;
    border-radius: none;
    background: #dddddd;
}

button:hover {
    background: #bbbbbb;
}

.section {
    padding: 15px 0 30px 0;
    border-bottom: 1px solid black;
}